* {
    box-sizing: border-box;
    padding:0;
    margin: 0; 
}

:root {
    --cardgreen: rgb(196, 255, 196)
}

ul {
    list-style: none;
}

header {
    padding: 10px 10px;
    background-color: honeydew;
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    justify-content: space-between;
 }
header nav {
    margin: 0px 0px;    
}
header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header nav ul li{
    padding: 10px 10px;
}

.main-section {
    display: flex;
    margin-right: 50px;
    
}

.overlay {
    position: absolute;
    bottom: 30px;
    left: 10px;
    background-color: var(--cardgreen);

}

aside {
    width: 15%;
    padding: 10px 10px;
    margin: 10px 10px;
    flex-shrink: 0;
    text-align: right;
    }

.content {
    border-left: green solid 4px; 
    float: left;
    padding: 15px;
    margin: 10px;
    width: 100%;
    align-content: center;
}

.big-card{
    margin: 10px;
    border: var(--cardgreen) solid 8px;
    width: 100%;
}

.card-box {
    display: flex;
    flex-wrap: nowrap;
    margin: 5px;
    align-content: center;
    
}

.card-sleeve {
    position: relative;
    text-align: center;
    color: black;
    
}
.card-box img {
    border: var(--cardgreen) solid 8px;
    margin: 5px;
    flex: 1 1 50vh;
    
    
    
}